@font-face {
    font-family: 'Alegreya';
    src: url('../fonts/Alegreya-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya-Medium';
    src: url('../fonts/Alegreya-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya-Bold';
    src: url('../fonts/Alegreya-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya-ExtraBold';
    src: url('../fonts/Alegreya-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
