
@font-face {
    font-family: "Alegreya";
    src: url("fonts/Alegreya-Regular.ttf") format("truetype");
    font-weight: 400; /* Normal */
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: "Alegreya";
    src: url("fonts/Alegreya-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Alegreya";
    src: url("fonts/Alegreya-Medium.ttf") format("truetype");
    font-weight: 500; 
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Alegreya";
    src: url("fonts/Alegreya-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Alegreya";
    src: url("fonts/Alegreya-Bold.ttf") format("truetype");
    font-weight: 700; 
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Alegreya";
    src: url("fonts/Alegreya-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Alegreya";
    src: url("fonts/Alegreya-ExtraBold.ttf") format("truetype");
    font-weight: 800; 
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Alegreya";
    src: url("fonts/Alegreya-Black.ttf") format("truetype");
    font-weight: 800; 
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Alegreya";
    src: url("fonts/Alegreya-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800; 
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Alegreya";
    src: url("fonts/Alegreya-BlackItalic.ttf") format("truetype");
    font-weight: 800; 
    font-style: italic;
    font-display: swap;
}



:root {
    --1-font-family: "Alegreya", Helvetica;
    --1-font-weight: 800;
    --1-font-size: 96px;
    --1-letter-spacing: 0px;
    --1-line-height: 78px;
    --1-font-style: italic;
    --h3-font-family: "Alegreya", Helvetica;
    --h3-font-weight: 800;
    --h3-font-size: 40px;
    --h3-letter-spacing: 0px;
    --h3-line-height: normal;
    --h3-font-style: normal;
    --h4-font-family: "Alegreya", Helvetica;
    --h4-font-weight: 500;
    --h4-font-size: 35px;
    --h4-letter-spacing: 0px;
    --h4-line-height: 45px;
    --h4-font-style: normal;
    --5-font-family: "Alegreya", Helvetica;
    --5-font-weight: 500;
    --5-font-size: 30px;
    --5-letter-spacing: 0px;
    --5-line-height: normal;
    --5-font-style: normal;
    --h2-font-family: "Alegreya", Helvetica;
    --h2-font-weight: 800;
    --h2-font-size: 70...
}
