.screen {
    background-color: #ff874b;
    overflow: hidden;
    width: 100%;
    min-width: 1440px;
    height: 5706px;
    position: relative;
}

.screen .rectangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 678px;
    background-color: #919191;
}

.screen .div {
    position: absolute;
    top: 1760px;
    left: 0;
    width: 1440px;
    height: 643px;
    background-color: #ff874b;
}

.screen .rectangle-2 {
    position: absolute;
    top: 1133px;
    left: -29px;
    width: 1511px;
    height: 677px;
    background-color: #919191;
}

.screen .pink-section {
    position: absolute;
    top: 688px;
    left: 0;
    width: 1440px;
    height: 455px;
    background-color: #ffc6d6;
}

.screen .rectangle-4 {
    position: absolute;
    top: 3422px;
    left: -48px;
    width: 1547px;
    height: 775px;
    background-color: #919191;
}

.screen .rectangle-5 {
    position: absolute;
    top: 4197px;
    left: 0;
    width: 1440px;
    height: 1509px;
    background-color: #ffc6d6;
}

.screen .rectangle-6 {
    position: absolute;
    top: 4615px;
    left: 412px;
    width: 902px;
    height: 104px;
    background-color: #ffffff;
}

.screen .rectangle-7 {
    position: absolute;
    top: 4945px;
    left: 351px;
    width: 902px;
    height: 104px;
    background-color: #ffffff;
}

.screen .ellipse-2 {
    position: absolute;
    top: 2470px;
    left: 1010px;
    width: 682px;
    height: 628px;
    background-color: #4b575d;
}

.screen .ellipse-3 {
    position: absolute;
    top: 3224px;
    left: 824px;
    width: 169px;
    height: 57px;
    background-color: #373737;
}

.screen .text-wrapper {
    position: absolute;
    width: 479px;
    top: 2953px;
    left: 1070px;
}

.screen .img {
    position: absolute;
    width: 159px;
    height: 159px;
    top: 2854px;
    left: 337px;
}

.screen .ellipse-4 {
    position: absolute;
    width: 159px;
    height: 159px;
    top: 3009px;
    left: 1109px;
}

.screen .rectangle-8 {
    position: absolute;
    width: 1547px;
    height: 727px;
    top: 0;
    left: 0;
}

.screen .text-wrapper-2 {
    position: absolute;
    width: 770px;
    top: 228px;
    left: 554px;
}

.screen .ellipse-5 {
    position: absolute;
    top: 75px;
    left: 201px;
    width: 20px;
    height: 20px;
    background-color: #ffc6d6;
}

.screen .ellipse-6 {
    position: absolute;
    top: 104px;
    left: 140px;
    width: 38px;
    height: 38px;
    background-color: #e9e9e8;
}

.screen .ellipse-7 {
    position: absolute;
    top: 143px;
    left: 201px;
    width: 27px;
    height: 27px;
    background-color: #ffc6d6;
}

.screen .ellipse-8 {
    position: absolute;
    top: 242px;
    left: 104px;
    width: 44px;
    height: 44px;
    background-color: #e9e9e8;
}

.screen .ellipse-9 {
    position: absolute;
    top: 335px;
    left: 180px;
    width: 27px;
    height: 27px;
    background-color: #ffc6d6;
}

.screen .ellipse-10 {
    position: absolute;
    top: 416px;
    left: 140px;
    width: 27px;
    height: 27px;
    background-color: #e9e9e8;
}

.screen .text-wrapper-3 {
    position: absolute;
    top: 673px;
    left: 109px;
    width: 272px;
}

.screen .text-wrapper-4 {
    position: absolute;
    top: 673px;
    left: 367px;
    width: 272px;
}

.screen .text-wrapper-5 {
    position: absolute;
    top: 673px;
    left: 633px;
    width: 272px;
}

.screen .text-wrapper-6 {
    position: absolute;
    top: 673px;
    left: 899px;
    width: 272px;
}

.screen .text-wrapper-7 {
    position: absolute;
    width: 220px;
    top: 2470px;
    left: 1070px;
}

.screen .text-wrapper-8 {
    position: absolute;
    width: 328px;
    top: 2577px;
    left: 1070px;
}

.screen .text-wrapper-9 {
    position: absolute;
    width: 143px;
    top: 2608px;
    left: 1321px;
}

.screen .union {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 2617px;
    left: 1070px;
}

.screen .text-wrapper-10 {
    position: absolute;
    top: 2425px;
    left: 1070px;
}

.screen .text-wrapper-11 {
    position: absolute;
    width: 328px;
    top: 2640px;
    left: 622px;
}

.screen .text-wrapper-12 {
    position: absolute;
    top: 2595px;
    left: 622px;
}

.screen .text-wrapper-13 {
    position: absolute;
    width: 479px;
    top: 2736px;
    left: 622px;
}

.screen .text-wrapper-14 {
    position: absolute;
    top: 1228px;
    left: 363px;
}

.screen .text-wrapper-15 {
    position: absolute;
    width: 531px;
    top: 1281px;
    left: 363px;
}

.screen .text-wrapper-16 {
    position: absolute;
    top: 1228px;
    left: 871px;
}

.screen .text-wrapper-17 {
    position: absolute;
    top: 1338px;
    left: 871px;
    width: 131px;
}

.screen .text-wrapper-18 {
    position: absolute;
    top: 1373px;
    left: 1018px;
    width: 53px;
}

.screen .text-wrapper-19 {
    position: absolute;
    top: 1475px;
    left: 1018px;
    width: 53px;
}

.screen .text-wrapper-20 {
    position: absolute;
    top: 1577px;
    left: 1018px;
    width: 53px;
}

.screen .text-wrapper-21 {
    position: absolute;
    width: 90px;
    top: 1380px;
    left: 1120px;
}

.screen .text-wrapper-22 {
    position: absolute;
    width: 90px;
    top: 1482px;
    left: 1120px;
}

.screen .text-wrapper-23 {
    position: absolute;
    width: 90px;
    top: 1584px;
    left: 1120px;
}

.screen .text-wrapper-24 {
    position: absolute;
    width: 90px;
    top: 1686px;
    left: 1120px;
}

.screen .group-6 {
    position: absolute;
    width: 502px;
    height: 386px;
    top: 1324px;
    left: 363px;
}

.screen .text-wrapper-25 {
    position: absolute;
    top: 3647px;
    left: 140px;
}

.screen .text-wrapper-26 {
    position: absolute;
    top: 3687px;
    left: 541px;
    width: 172px;
}

.screen .text-wrapper-27 {
    position: absolute;
    top: 3687px;
    left: 710px;
    width: 172px;
}

.screen .text-wrapper-28 {
    position: absolute;
    top: 3687px;
    left: 884px;
    width: 172px;
}

.screen .text-wrapper-29 {
    position: absolute;
    top: 3687px;
    left: 1058px;
    width: 172px;
}

.screen .text-wrapper-30 {
    position: absolute;
    top: 3687px;
    left: 367px;
    width: 172px;
}

.screen .text-wrapper-31 {
    position: absolute;
    top: 3687px;
    left: 1232px;
    width: 172px;
}

.screen .text-wrapper-32 {
    position: absolute;
    top: 1913px;
    left: 421px;
    width: 206px;
}

.screen .text-wrapper-33 {
    position: absolute;
    top: 1913px;
    left: 574px;
    width: 206px;
}

.screen .text-wrapper-34 {
    position: absolute;
    top: 1913px;
    left: 699px;
    width: 206px;
}

.screen .text-wrapper-35 {
    position: absolute;
    top: 1913px;
    left: 866px;
    width: 206px;
}

.screen .text-wrapper-36 {
    position: absolute;
    top: 1913px;
    left: 1032px;
    width: 206px;
}

.screen .text-wrapper-37 {
    position: absolute;
    top: 1913px;
    left: 1178px;
    width: 206px;
}

.screen .text-wrapper-38 {
    position: absolute;
    top: 1913px;
    left: 1303px;
    width: 206px;
}

.screen .text-wrapper-39 {
    position: absolute;
    top: 1913px;
    left: 1469px;
    width: 206px;
}

.screen .text-wrapper-40 {
    position: absolute;
    top: 4281px;
    left: 1081px;
}

.screen .text-wrapper-41 {
    position: absolute;
    width: 251px;
    top: 4334px;
    left: 1081px;
}

.screen .text-wrapper-42 {
    position: absolute;
    width: 489px;
    top: 4441px;
    left: 1081px;
}

.screen .flags {
    position: absolute;
    width: 531px;
    height: 140px;
    top: 4574px;
    left: 1081px;
}

.screen .text-wrapper-43 {
    position: absolute;
    top: 4707px;
    left: 1070px;
}

.screen .text-wrapper-44 {
    position: absolute;
    top: 4707px;
    left: 1221px;
}

.screen .text-wrapper-45 {
    position: absolute;
    top: 4707px;
    left: 1391px;
}

.screen .text-wrapper-46 {
    position: absolute;
    top: 4707px;
    left: 1542px;
}

.screen .text-wrapper-47 {
    position: absolute;
    top: 4281px;
    left: 412px;
}

.screen .text-wrapper-48 {
    position: absolute;
    top: 4898px;
    left: 450px;
    width: 61px;
}

.screen .text-wrapper-49 {
    position: absolute;
    top: 4898px;
    left: 569px;
    width: 61px;
}

.screen .text-wrapper-50 {
    position: absolute;
    top: 4898px;
    left: 699px;
    width: 61px;
}

.screen .text-wrapper-51 {
    position: absolute;
    top: 4898px;
    left: 829px;
    width: 61px;
}

.screen .text-wrapper-59 {
    position: absolute;
    top: 4945px;
    left: 959px;
    width: 61px;
}

.screen .text-wrapper-60 {
    position: absolute;
    top: 4945px;
    left: 1089px;
    width: 61px;
}

.screen .text-wrapper-61 {
    position: absolute;
    top: 4945px;
    left: 1219px;
    width: 61px;
}

.screen .text-wrapper-62 {
    position: absolute;
    top: 4992px;
    left: 450px;
    width: 61px;
}

.screen .text-wrapper-63 {
    position: absolute;
    top: 4992px;
    left: 580px;
    width: 61px;
}

.screen .text-wrapper-64 {
    position: absolute;
    top: 4992px;
    left: 710px;
    width: 61px;
}

.screen .text-wrapper-65 {
    position: absolute;
    top: 4992px;
    left: 840px;
    width: 61px;
}

.screen .text-wrapper-66 {
    position: absolute;
    top: 4992px;
    left: 970px;
    width: 61px;
}

.screen .text-wrapper-67 {
    position: absolute;
    top: 4992px;
    left: 1100px;
    width: 61px;
}

.screen .text-wrapper-68 {
    position: absolute;
    top: 4992px;
    left: 1230px;
    width: 61px;
}

.screen .element-2 {
    position: absolute;
    width: 388px;
    height: 488px;
    top: 4333px;
    left: 104px;
}

.screen .text-wrapper-52 {
    position: absolute;
    width: 328px;
    top: 4334px;
    left: 412px;
}

.screen .element-3 {
    position: absolute;
    width: 479px;
    top: 4441px;
    left: 412px;
}

.screen .text-wrapper-53 {
    position: absolute;
    width: 328px;
    top: 5411px;
    left: 1081px;
}

.screen .text-wrapper-54 {
    position: absolute;
    top: 5040px;
    left: 312px;
    width: 893px;
}

.screen .text-wrapper-55 {
    position: absolute;
    top: 5122px;
    left: 1070px;
    width: 317px;
}

.screen .HSE-design-logo-new {
    position: absolute;
    width: 85px;
    height: 85px;
    top: 72px;
    left: 1081px;
}

.screen .text-wrapper-56 {
    position: absolute;
    top: 83px;
    left: 1184px;
}

.screen .text-wrapper-57 {
    position: absolute;
    top: 118px;
    left: 1184px;
}

.screen .ellipse-14 {
    position: absolute;
    top: 1888px;
    left: 367px;
    width: 353px;
    height: 353px;
    background-color: #ffc6d6;
}

.screen .ellipse-15 {
    position: absolute;
    top: 3543px;
    left: 162px;
    width: 169px;
    height: 169px;
    background-color: #ffc6d6;
}

.screen .text-wrapper-58 {
    position: absolute;
    width: 770px;
    top: 228px;
    left: 554px;
}

.screen .ellipse-16 {
    position: absolute;
    top: 3848px;
    left: 1067px;
    width: 290px;
    height: 290px;
    background-color: #4b575d;
}

.screen .ellipse-17 {
    position: absolute;
    top: 2113px;
    left: 1257px;
    width: 43px;
    height: 73px;
}

.screen .ellipse-18 {
    position: absolute;
    top: 2089px;
    left: 138px;
    width: 26px;
    height: 47px;
}

.screen .ellipse-19 {
    position: absolute;
    top: 2082px;
    left: 1335px;
    width: 30px;
    height: 32px;
    background-color: #4b575d;
}

.screen .ellipse-20 {
    position: absolute;
    top: 2073px;
    left: 1214px;
    width: 27px;
    height: 29px;
    background-color: #4b575d;
}

.screen .ellipse-21 {
    position: absolute;
    top: 2099px;
    left: 98px;
    width: 17px;
    height: 18px;
    background-color: #ffffff;
}

.screen .ellipse-22 {
    position: absolute;
    top: 2061px;
    left: 166px;
    width: 17px;
    height: 18px;
    background-color: #ffffff;
}

.screen .ellipse-23 {
    position: absolute;
    top: 2077px;
    left: 203px;
    width: 17px;
    height: 18px;
    background-color: #ffffff;
}

.screen .ellipse-24 {
    position: absolute;
    top: 2125px;
    left: 257px;
    width: 17px;
    height: 18px;
    background-color: #ffffff;
}

.screen .ellipse-25 {
    position: absolute;
    top: 2043px;
    left: 214px;
    width: 17px;
    height: 18px;
    background-color: #ffffff;
}

.screen .text-wrapper-69 {
    position: absolute;
    top: 3650px;
    left: 712px;
}

.screen .text-wrapper-70 {
    position: absolute;
    top: 3650px;
    left: 367px;
}

.screen .text-wrapper-71 {
    position: absolute;
    top: 3650px;
    left: 1058px;
}

.screen .text-wrapper-72 {
    position: absolute;
    top: 3650px;
    left: 541px;
}

.screen .text-wrapper-73 {
    position: absolute;
    top: 3650px;
    left: 884px;
}

.screen .text-wrapper-74 {
    position: absolute;
    top: 3650px;
    left: 1232px;
}

.screen .element-4 {
    position: absolute;
    width: 350px;
    height: 488px;
    top: 2901px;
    left: 268px;
}

.screen .element-5 {
    position: absolute;
    width: 429px;
    height: 472px;
    top: 4236px;
    left: 374px;
}
