.screen {
    background-color: #ff874b;
    overflow: hidden;
    width: 100%;
    min-width: 1440px;
    height: 5706px;
    position: relative;
}

.screen .rectangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 678px;
    background-color: #919191;
}

.screen .div {
    position: absolute;
    top: 1760px;
    left: 0;
    width: 1440px;
    height: 643px;
    background-color: #ff874b;
}

.screen .rectangle-2 {
    position: absolute;
    top: 1133px;
    left: -29px;
    width: 1511px;
    height: 677px;
    background-color: #919191;
}

.screen .pink-section {
    position: absolute;
    top: 688px;
    left: 0;
    width: 1440px;
    height: 455px;
    background-color: #ffc6d6;
}

.screen .rectangle-4 {
    position: absolute;
    top: 3422px;
    left: -48px;
    width: 1547px;
    height: 778px;
    background-color: #919191;
}

.screen .rectangle-5 {
    position: absolute;
    top: 2401px;
    left: -5px;
    width: 1457px;
    height: 599px;
    background-color: #4b575d;
}

.screen .rectangle-6 {
    position: absolute;
    top: 3000px;
    left: 0;
    width: 1452px;
    height: 453px;
    background-color: #919191;
}

.screen .rectangle-7 {
    position: absolute;
    top: 4194px;
    left: -33px;
    width: 1512px;
    height: 606px;
    background-color: #ffc6d6;
}

.screen .ellipse-2 {
    top: 4472px;
    left: -48px;
    width: 682px;
    height: 628px;
    position: absolute;
    background-color: #ffc6d6;
}

.screen .ellipse-3 {
    position: absolute;
    top: 4973px;
    left: 327px;
    width: 169px;
    height: 57px;
}

.screen .text-wrapper {
    position: absolute;
    top: 5100px;
    left: 452px;
    width: 727px;
}

.screen .download-free-png-of {
    position: absolute;
    width: 107.65%;
    height: 3.08%;
    top: 10.59%;
    left: -527.45%;
}

.screen .img {
    position: absolute;
    top: 1130px;
    left: 0;
    width: 1440px;
    height: 248px;
}

.screen .ellipse-4 {
    position: absolute;
    top: 450px;
    left: 0;
    width: 1440px;
    height: 248px;
}

.screen .exclude {
    position: absolute;
    top: 1810px;
    left: 0;
    width: 1440px;
    height: 377px;
}

.screen .group {
    position: absolute;
    top: 1328px;
    left: 43px;
    width: 1363px;
    height: 525px;
}

.screen .text-wrapper-2 {
    position: absolute;
    top: 22px;
    left: 69px;
}

.screen .text-wrapper-3 {
    position: absolute;
    top: 22px;
    left: 329px;
}

.screen .text-wrapper-4 {
    position: absolute;
    top: 0;
    left: 876px;
}

.screen .text-wrapper-5 {
    position: absolute;
    top: 0;
    left: 1105px;
}

.screen .text-wrapper-6 {
    position: absolute;
    top: 417px;
    left: 69px;
}

.screen .text-wrapper-7 {
    position: absolute;
    top: 79px;
    left: 368px;
}

.screen .text-wrapper-8 {
    position: absolute;
    top: 382px;
    left: 999px;
}

.screen .text-wrapper-9 {
    position: absolute;
    top: 68px;
    left: 1078px;
    width: 235px;
}

.screen .group-2 {
    position: absolute;
    top: 388px;
    left: 940px;
    width: 22px;
    height: 88px;
}

.screen .vector {
    position: absolute;
    top: 14px;
    left: -28px;
    width: 68px;
    height: 57px;
}

.screen .vector-2 {
    position: absolute;
    top: 71px;
    left: -3px;
    width: 19px;
    height: 20px;
}

.screen .group-3 {
    position: absolute;
    top: 170px;
    left: 1302px;
    width: 32px;
    height: 128px;
}

.screen .vector-3 {
    position: absolute;
    top: 1px;
    left: 2px;
    width: 32px;
    height: 127px;
}

.screen .vector-4 {
    position: absolute;
    top: 105px;
    left: 0;
    width: 25px;
    height: 27px;
}

.screen .group-4 {
    position: absolute;
    top: 115px;
    left: 358px;
    width: 18px;
    height: 74px;
    display: flex;
    flex-direction: column;
    gap: 4.3px;
}

.screen .vector-5 {
    margin-left: -2.2px;
    width: 14.28px;
    height: 16.2px;
    margin-top: -0.8px;
}

.screen .vector-6 {
    margin-left: -27.8px;
    width: 65.33px;
    height: 37.01px;
}

.screen .group-5 {
    position: absolute;
    top: 412px;
    left: 28px;
    width: 22px;
    height: 87px;
}

.screen .vector-7 {
    position: absolute;
    top: 9px;
    left: -22px;
    width: 57px;
    height: 69px;
}

.screen .vector-8 {
    position: absolute;
    top: 72px;
    left: -4px;
    width: 19px;
    height: 18px;
}

.screen .ellipse-5 {
    position: absolute;
    top: 1859px;
    left: 1193px;
    width: 426px;
    height: 426px;
    background-color: #ffc6d6;
    border-radius: 213px;
}

.screen .philosophy-box {
    position: absolute;
    top: 1901px;
    left: 307px;
    width: 825px;
    height: 435px;
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.screen .philosophy-title {
    width: 821px;
    height: 78px;
}

.screen .philosophy-text {
    margin-left: 202px;
    width: 525px;
    height: 328px;
}

.screen .span {
    width: 525px;
    height: 328px;
}

.screen .vector-9 {
    position: absolute;
    top: 1599px;
    left: 44px;
    width: 155px;
    height: 151px;
}

.screen .vector-10 {
    position: absolute;
    top: 1501px;
    left: 331px;
    width: 112px;
    height: 120px;
}

.screen .vector-11 {
    position: absolute;
    top: 1573px;
    left: 908px;
    width: 140px;
    height: 139px;
}

.screen .vector-12 {
    position: absolute;
    top: 1591px;
    left: 1212px;
    width: 140px;
    height: 139px;
}

.screen .ellipse-6 {
    position: absolute;
    top: 3000px;
    left: 0;
    width: 1440px;
    height: 367px;
}

.screen .group-7 {
    position: absolute;
    top: 2534px;
    left: 168px;
    width: 1081px;
    height: 639px;
}

.screen .group-8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 639px;
}

.screen .text-wrapper-11 {
    position: absolute;
    top: 0;
    left: 0;
    width: 112px;
}

.screen .text-wrapper-12 {
    top: 136px;
    left: 1px;
    width: 112px;
    position: absolute;
}

.screen .text-wrapper-13 {
    top: 274px;
    left: 1px;
    width: 112px;
    position: absolute;
}

.screen .text-wrapper-14 {
    top: 405px;
    left: 1px;
    width: 112px;
    position: absolute;
}

.screen .group-9 {
    position: absolute;
    top: 0;
    left: 138px;
    width: 118px;
    height: 639px;
}

.screen .text-wrapper-15 {
    top: 0;
    left: 0;
    width: 112px;
    position: absolute;
}

.screen .text-wrapper-16 {
    top: 405px;
    left: 1px;
    width: 112px;
    position: absolute;
}

.screen .group-10 {
    position: absolute;
    top: 0;
    left: 276px;
    width: 120px;
    height: 639px;
}

.screen .text-wrapper-17 {
    top: 1px;
    left: 1px;
    width: 112px;
    position: absolute;
}

.screen .text-wrapper-18 {
    top: 136px;
    left: 0;
    width: 112px;
    position: absolute;
}

.screen .text-wrapper-19 {
    top: 274px;
    left: 0;
    width: 112px;
    position: absolute;
}

.screen .text-wrapper-20 {
    top: 405px;
    left: 0;
    width: 112px;
    position: absolute;
}

.screen .group-11 {
    position: absolute;
    top: 0;
    left: 415px;
    width: 120px;
    height: 639px;
}

.screen .text-wrapper-21 {
    top: 1px;
    left: 0;
    width: 112px;
    position: absolute;
}

.screen .a {
    top: 264px;
    left: 12px;
    width: 88px;
    position: absolute;
}

.screen .group-12 {
    position: absolute;
    top: 0;
    left: 553px;
    width: 120px;
    height: 639px;
}

.screen .group-13 {
    position: absolute;
    top: 0;
    left: 691px;
    width: 118px;
    height: 639px;
}

.screen .group-14 {
    position: absolute;
    top: 0;
    left: 829px;
    width: 120px;
    height: 639px;
}

.screen .text-wrapper-22 {
    top: 405px;
    left: 1px;
    width: 112px;
    position: absolute;
}

.screen .group-15 {
    position: absolute;
    top: 0;
    left: 967px;
    width: 120px;
    height: 639px;
}

.screen .text-wrapper-23 {
    top: 0;
    left: 0;
    width: 112px;
    position: absolute;
}

.screen .text-wrapper-24 {
    top: 136px;
    left: 729px;
    width: 64px;
    position: absolute;
}

.screen .group-16 {
    position: absolute;
    top: 2663px;
    left: 253px;
    width: 342px;
    height: 335px;
}

.screen .div-wrapper {
    position: absolute;
    top: 2500px;
    left: -184px;
    width: 721px;
    height: 85px;
    display: flex;
}

.screen .text-wrapper-25 {
    width: 719px;
    height: 85px;
}

.screen .p {
    position: absolute;
    top: 3142px;
    left: 404px;
    width: 829px;
}

.screen .view {
    position: absolute;
    top: 709px;
    left: 176px;
    width: 1174px;
    height: 622px;
}

.screen .image {
    position: absolute;
    top: 121px;
    left: 0;
    width: 299px;
    height: 394px;
}

.screen .ellipse-7 {
    position: absolute;
    top: 64px;
    left: 606px;
    width: 540px;
    height: 298px;
    background-color: #4b575d;
}

.screen .view-2 {
    position: absolute;
    top: 377px;
    left: 201px;
    width: 668px;
    height: 153px;
}

.screen .text-wrapper-26 {
    position: absolute;
    top: 7px;
    left: 254px;
    width: 156px;
}

.screen .vector-13 {
    position: absolute;
    top: 0;
    left: 657px;
    width: 5px;
    height: 138px;
}

.screen .vector-14 {
    position: absolute;
    top: 1px;
    left: 83px;
    width: 5px;
    height: 138px;
}

.screen .vector-15 {
    position: absolute;
    top: 0;
    left: 0;
    width: 666px;
    height: 15px;
}

.screen .vector-16 {
    position: absolute;
    top: 15px;
    left: 6px;
    width: 5px;
    height: 138px;
}

.screen .vector-17 {
    position: absolute;
    top: 15px;
    left: 613px;
    width: 5px;
    height: 138px;
}

.screen .text-wrapper-27 {
    position: absolute;
    top: 78px;
    left: 897px;
}

.screen .union {
    position: absolute;
    top: 0;
    left: 95px;
    width: 380px;
    height: 241px;
}

.screen .text-wrapper-28 {
    position: absolute;
    top: 38px;
    left: 202px;
    width: 440px;
}

.screen .a-2 {
    top: 121px;
    left: 640px;
    width: 425px;
    position: absolute;
}

.screen .text-wrapper-29 {
    position: absolute;
    top: 4232px;
    left: 1033px;
}

.screen .rectangle-9 {
    position: absolute;
    top: 3489px;
    left: 140px;
    width: 103px;
    height: 103px;
    background-color: #ffc6d6;
}

.screen .rectangle-10 {
    position: absolute;
    top: 3624px;
    left: 140px;
    width: 103px;
    height: 103px;
    background-color: #ffc6d6;
}

.screen .rectangle-11 {
    position: absolute;
    top: 3489px;
    left: 271px;
    width: 103px;
    height: 103px;
    background-color: #ffc6d6;
}

.screen .rectangle-12 {
    position: absolute;
    top: 3624px;
    left: 271px;
    width: 103px;
    height: 103px;
    background-color: #ffc6d6;
}

.screen .rectangle-13 {
    position: absolute;
    top: 3466px;
    left: 433px;
    width: 281px;
    height: 281px;
    background-color: #ff874b;
}

.screen .rectangle-14 {
    position: absolute;
    top: 3834px;
    left: 721px;
    width: 281px;
    height: 281px;
    background-color: #ff874b;
}

.screen .rectangle-15 {
    position: absolute;
    top: 3834px;
    left: 1043px;
    width: 281px;
    height: 281px;
    background-color: #ff874b;
}

.screen .rectangle-16 {
    position: absolute;
    top: 3856px;
    left: 1067px;
    width: 103px;
    height: 103px;
    background-color: #ffc6d6;
}

.screen .rectangle-17 {
    position: absolute;
    top: 3991px;
    left: 1067px;
    width: 103px;
    height: 103px;
    background-color: #ffc6d6;
}

.screen .rectangle-18 {
    position: absolute;
    top: 3856px;
    left: 1198px;
    width: 103px;
    height: 103px;
    background-color: #ffc6d6;
}

.screen .rectangle-19 {
    position: absolute;
    top: 3991px;
    left: 1198px;
    width: 103px;
    height: 103px;
    background-color: #ffc6d6;
}

.screen .element {
    position: absolute;
    top: 3822px;
    left: 133px;
    width: 544px;
}

.screen .text-wrapper-30 {
    position: absolute;
    top: 1263px;
    left: 529px;
}

.screen .text-wrapper-31 {
    position: absolute;
    top: 627px;
    left: 856px;
    width: 390px;
}

.screen .text-wrapper-32 {
    position: absolute;
    top: 2427px;
    left: 776px;
}

.screen .alegreya-2 {
    position: absolute;
    top: calc(50% - 3165px);
    left: calc(50% - 1792px);
    width: 3577px;
    height: 1574px;
}

.screen .a-3 {
    top: calc(50% - 317px);
    left: calc(50% - 1755px);
    width: 2404px;
    position: absolute;
}

.screen .l {
    position: absolute;
    top: calc(50% - 375px);
    left: calc(50% - 1625px);
    width: 2425px;
    height: 541px;
}

.screen .l-2 {
    position: absolute;
    top: calc(50% - 162px);
    left: calc(50% - 1203px);
    width: 2404px;
}

.screen .ellipse-8 {
    position: absolute;
    top: 224px;
    left: 1216px;
    width: 22px;
    height: 37px;
}

.screen .ellipse-9 {
    position: absolute;
    top: 220px;
    left: 1200px;
    width: 12px;
    height: 13px;
    background-color: #4c575e;
}

.screen .e {
    position: absolute;
    top: calc(50% - 216px);
    left: calc(50% - 1502px);
    width: 2404px;
}

.screen .g {
    position: absolute;
    top: calc(50% - 608px);
    left: calc(50% - 1335px);
    width: 2470px;
    height: 1055px;
}

.screen .g-2 {
    position: absolute;
    top: calc(50% - 281px);
    left: calc(50% - 1203px);
    width: 2404px;
}

.screen .ellipse-10 {
    position: absolute;
    top: 522px;
    left: 1291px;
    width: 26px;
    height: 44px;
}

.screen .ellipse-11 {
    position: absolute;
    top: 508px;
    left: 1284px;
    width: 12px;
    height: 13px;
    background-color: #ff874b;
}

.screen .r {
    position: absolute;
    top: calc(50% - 418px);
    left: calc(50% - 1113px);
    width: 2426px;
    height: 730px;
}

.screen .r-2 {
    position: absolute;
    top: calc(50% - 324px);
    left: calc(50% - 1203px);
    width: 2404px;
}

.screen .ellipse-12 {
    position: absolute;
    top: 310px;
    left: 1273px;
    width: 26px;
    height: 44px;
}

.screen .ellipse-13 {
    position: absolute;
    top: 309px;
    left: 1252px;
    width: 12px;
    height: 13px;
    background-color: #4b575d;
}

.screen .e-2 {
    position: absolute;
    top: calc(50% - 97px);
    left: calc(50% - 959px);
    width: 2404px;
}

.screen .y {
    position: absolute;
    top: calc(50% - 298px);
    left: calc(50% - 760px);
    width: 2404px;
}

.screen .a-4 {
    top: calc(50% - 134px);
    left: calc(50% - 627px);
    width: 2404px;
    position: absolute;
}

.screen .image-2 {
    position: absolute;
    top: 3466px;
    left: 433px;
    width: 281px;
    height: 281px;
}

.screen .view-3 {
    position: absolute;
    top: 3834px;
    left: 721px;
    width: 281px;
    height: 281px;
    display: flex;
    overflow: hidden;
}

.screen .text-wrapper-33 {
    margin-top: -341px;
    width: 314px;
    height: 657px;
    margin-left: 55px;
}

.screen .text-wrapper-34 {
    position: absolute;
    top: 3355px;
    left: 115px;
}

.screen .flags {
    position: absolute;
    top: 3124px;
    left: 0;
    width: 1440px;
    height: 465px;
}

.screen .text-wrapper-35 {
    position: absolute;
    top: 3594px;
    left: 664px;
    width: 571px;
}

.screen .text-wrapper-36 {
    position: absolute;
    top: 3521px;
    left: 157px;
}

.screen .text-wrapper-37 {
    position: absolute;
    top: 3655px;
    left: 272px;
}

.screen .hej {
    position: absolute;
    top: 3884px;
    left: 1214px;
}

.screen .ci-o {
    position: absolute;
    top: 4019px;
    left: 1078px;
}

.screen .div-2 {
    position: absolute;
    top: 4311px;
    left: 105px;
    width: 532px;
    height: 464px;
}

.screen .text-wrapper-38 {
    position: absolute;
    top: 0;
    left: 126px;
    width: 73px;
}

.screen .text-wrapper-39 {
    position: absolute;
    top: 395px;
    left: 292px;
}

.screen .text-wrapper-40 {
    position: absolute;
    top: 61px;
    left: 65px;
}

.screen .text-wrapper-41 {
    position: absolute;
    top: 384px;
    left: 16px;
}

.screen .text-wrapper-42 {
    position: absolute;
    top: 303px;
    left: 112px;
    width: 75px;
}

.screen .text-wrapper-43 {
    position: absolute;
    top: 184px;
    left: 120px;
}

.screen .text-wrapper-44 {
    position: absolute;
    top: 228px;
    left: 9px;
}

.screen .text-wrapper-45 {
    position: absolute;
    top: 311px;
    left: 209px;
}

.screen .text-wrapper-46 {
    position: absolute;
    top: 81px;
    left: 189px;
    width: 77px;
}

.screen .text-wrapper-47 {
    position: absolute;
    top: 395px;
    left: 138px;
    width: 91px;
}

.screen .text-wrapper-48 {
    position: absolute;
    top: 198px;
    left: 204px;
}

.screen .text-wrapper-49 {
    position: absolute;
    top: 395px;
    left: 402px;
}

.screen .text-wrapper-50 {
    position: absolute;
    top: 147px;
    left: 307px;
}

.screen .text-wrapper-51 {
    position: absolute;
    top: 291px;
    left: 330px;
}

.screen .element-2 {
    position: absolute;
    top: 4187px;
    left: 211px;
    width: 448px;
    height: 439px;
}

.screen .text-wrapper-52 {
    position: absolute;
    top: 4281px;
    left: 419px;
    width: 392px;
}

.screen .element-3 {
    position: absolute;
    top: 4494px;
    left: 644px;
    width: 503px;
}

.screen .text-wrapper-53 {
    position: absolute;
    top: 4818px;
    left: 619px;
    width: 554px;
}

.screen .text-wrapper-54 {
    top: 4608px;
    left: 891px;
    position: absolute;
}

.screen .text-wrapper-55 {
    position: absolute;
    top: 4370px;
    left: 1086px;
}

.screen .HSE-design-logo-new {
    position: absolute;
    width: 14.07%;
    height: 0;
    top: 98.19%;
    left: 31.11%;
}

.screen .text-wrapper-56 {
    position: absolute;
    width: 17.85%;
    height: 2.21%;
    top: 98.76%;
    left: 64.31%;
}

.screen .text-wrapper-57 {
    position: absolute;
    width: 22.57%;
    height: 3.66%;
    top: 97.83%;
    left: 3.33%;
}

.screen .ellipse-14 {
    position: absolute;
    top: -139px;
    left: -30px;
    width: 353px;
    height: 353px;
    background-color: #ff874b;
    border-radius: 176.5px;
}

.screen .ellipse-15 {
    top: -84px;
    left: 1128px;
    width: 169px;
    height: 169px;
    border-radius: 84.5px;
    position: absolute;
    background-color: #ffc6d6;
}

.screen .text-wrapper-58 {
    position: absolute;
    top: calc(50% - 2815px);
    left: calc(50% - 607px);
    width: 1220px;
}

.screen .ellipse-16 {
    position: absolute;
    top: 1954px;
    left: -92px;
    width: 290px;
    height: 290px;
    background-color: #4b575d;
    border-radius: 145px;
}

.screen .ellipse-17 {
    position: absolute;
    top: 2113px;
    left: 1257px;
    width: 43px;
    height: 73px;
}

.screen .ellipse-18 {
    position: absolute;
    top: 2089px;
    left: 138px;
    width: 26px;
    height: 47px;
}

.screen .ellipse-19 {
    position: absolute;
    top: 2082px;
    left: 1335px;
    width: 30px;
    height: 32px;
    background-color: #4b575d;
}

.screen .ellipse-20 {
    position: absolute;
    top: 2073px;
    left: 1214px;
    width: 27px;
    height: 29px;
    background-color: #4b575d;
}

.screen .ellipse-21 {
    position: absolute;
    top: 2099px;
    left: 98px;
    width: 17px;
    height: 18px;
    background-color: #ffffff;
}

.screen .ellipse-22 {
    position: absolute;
    top: 2061px;
    left: 166px;
    width: 17px;
    height: 18px;
    background-color: #ffffff;
}

.screen .ellipse-23 {
    position: absolute;
    top: 4942px;
    left: 288px;
    width: 30px;
    height: 32px;
    background-color: #4b575d;
}

.screen .ellipse-24 {
    position: absolute;
    top: 4917px;
    left: 481px;
    width: 30px;
    height: 32px;
    background-color: #4b575d;
}

.screen .ellipse-25 {
    position: absolute;
    top: 5216px;
    left: 1162px;
    width: 14px;
    height: 16px;
    background-color: #ffffff;
}

.screen .ellipse-26 {
    position: absolute;
    top: 5206px;
    left: 1107px;
    width: 15px;
    height: 16px;
    background-color: #ffffff;
}

.screen .ellipse-27 {
    position: absolute;
    top: 5273px;
    left: 1083px;
    width: 79px;
    height: 29px;
}
