.screen .ellipse-2 {
    border-radius: 341px / 314px;
}

.screen .ellipse-3 {
    border-radius: 84.5px / 28.5px;
    border: 5px solid;
    border-color: #4c575e;
    transform: rotate(-7.11deg);
}

.screen .text-wrapper {
    color: #373737;
}

.screen .text-wrapper-2 {
    color: #ffc6d6;
}

.screen .text-wrapper-3 {
    color: #ffc6d6;
}

.screen .text-wrapper-4 {
    color: #ffc6d6;
}

.screen .text-wrapper-5 {
    color: #ffc6d6;
}

.screen .text-wrapper-6 {
    color: #ffffff;
}

.screen .text-wrapper-7 {
    color: #ffffff;
}

.screen .text-wrapper-8 {
    color: #ffffff;
}

.screen .text-wrapper-9 {
    color: #ffffff;
}

.screen .group-2 {
    transform: rotate(122.84deg);
}

.screen .vector {
    transform: rotate(-122.84deg);
}

.screen .vector-2 {
    transform: rotate(-122.84deg);
}

.screen .group-3 {
    transform: rotate(-12.18deg);
}

.screen .vector-3 {
    transform: rotate(12.18deg);
}

.screen .vector-4 {
    transform: rotate(12.18deg);
}

.screen .group-4 {
    transform: rotate(23.75deg);
}

.screen .vector-5 {
    transform: rotate(-23.75deg);
}

.screen .vector-6 {
    transform: rotate(-23.75deg);
}

.screen .group-5 {
    transform: rotate(-41.52deg);
}

.screen .vector-7 {
    transform: rotate(41.52deg);
}

.screen .vector-8 {
    transform: rotate(41.52deg);
}

.screen .text-wrapper-14 {
    color: #373737;
}

.screen .text-wrapper-15 {
    color: #4c575e;
}

.screen .text-wrapper-16 {
    color: #373737;
}

.screen .text-wrapper-17 {
    color: #373737;
}

.screen .text-wrapper-18 {
    color: #373737;
}

.screen .text-wrapper-19 {
    color: #373737;
}

.screen .text-wrapper-20 {
    color: #373737;
}

.screen .text-wrapper-21 {
    color: #373737;
}

.screen .text-wrapper-22 {
    color: #373737;
}

.screen .text-wrapper-23 {
    color: #373737;
}

.screen .text-wrapper-24 {
    color: #373737;
}

.screen .text-wrapper-25 {
    color: #373737;
}

.screen .text-wrapper-26 {
    color: #373737;
}

.screen .text-wrapper-27 {
    color: #373737;
}

.screen .text-wrapper-28 {
    color: #373737;
}

.screen .text-wrapper-29 {
    color: #373737;
}

.screen .text-wrapper-30 {
    color: #373737;
}

.screen .text-wrapper-31 {
    color: #373737;
}

.screen .text-wrapper-32 {
    color: #373737;
}

.screen .text-wrapper-33 {
    color: #373737;
}

.screen .text-wrapper-34 {
    color: #373737;
}

.screen .text-wrapper-35 {
    color: #373737;
}

.screen .text-wrapper-36 {
    color: #373737;
}

.screen .text-wrapper-37 {
    color: #373737;
}

.screen .text-wrapper-38 {
    color: #373737;
}

.screen .text-wrapper-39 {
    color: #373737;
}

.screen .text-wrapper-40 {
    color: #373737;
}

.screen .text-wrapper-41 {
    color: #373737;
}

.screen .text-wrapper-42 {
    color: #4c575e;
}

.screen .text-wrapper-43 {
    color: #4c575e;
}

.screen .text-wrapper-44 {
    color: #4c575e;
}

.screen .text-wrapper-45 {
    color: #4c575e;
}

.screen .text-wrapper-46 {
    color: #4c575e;
}

.screen .text-wrapper-47 {
    color: #373737;
}

.screen .text-wrapper-48 {
    color: #373737;
}

.screen .text-wrapper-49 {
    color: #373737;
}

.screen .text-wrapper-50 {
    color: #373737;
}

.screen .text-wrapper-51 {
    color: #373737;
}

.screen .text-wrapper-59 {
    color: #373737;
}

.screen .text-wrapper-60 {
    color: #373737;
}

.screen .text-wrapper-61 {
    color: #373737;
}

.screen .text-wrapper-62 {
    color: #373737;
}

.screen .text-wrapper-63 {
    color: #373737;
}

.screen .text-wrapper-64 {
    color: #373737;
}

.screen .text-wrapper-65 {
    color: #373737;
}

.screen .text-wrapper-66 {
    color: #373737;
}

.screen .text-wrapper-67 {
    color: #373737;
}

.screen .text-wrapper-68 {
    color: #373737;
}

.screen .text-wrapper-52 {
    color: #373737;
}

.screen .element-3 {
    color: #4c575e;
}

.screen .text-wrapper-53 {
    color: #373737;
}

.screen .text-wrapper-54 {
    color: #ffc6d6;
}

.screen .text-wrapper-55 {
    color: #ff874b;
}

.screen .text-wrapper-56 {
    color: #ff874b;
}

.screen .text-wrapper-57 {
    color: #373737;
}

.screen .ellipse-14 {
    border-radius: 176.5px;
}

.screen .ellipse-15 {
    border-radius: 84.5px;
}

.screen .text-wrapper-58 {
    color: #ffffff;
}

.screen .ellipse-16 {
    border-radius: 145px;
}

.screen .ellipse-17 {
    border-radius: 21.58px / 36.51px;
    border: 5px solid;
    border-color: #4c575e;
    transform: rotate(174.04deg);
}

.screen .ellipse-18 {
    border-radius: 13.2px / 23.31px;
    border: 5px solid;
    border-color: #ffffff;
    transform: rotate(174.04deg);
}

.screen .ellipse-19 {
    border-radius: 14.77px / 16.17px;
    transform: rotate(-2.89deg);
}

.screen .ellipse-20 {
    border-radius: 13.45px / 14.72px;
    transform: rotate(-2.89deg);
}

.screen .ellipse-21 {
    border-radius: 8.41px / 9.17px;
    transform: rotate(-2.89deg);
}

.screen .ellipse-22 {
    border-radius: 8.41px / 9.17px;
    transform: rotate(-2.89deg);
}

.screen .ellipse-23 {
    border-radius: 8.41px / 9.17px;
    transform: rotate(-2.89deg);
}

.screen .ellipse-24 {
    border-radius: 8.41px / 9.17px;
    transform: rotate(-2.89deg);
}

.screen .ellipse-25 {
    border-radius: 8.41px / 9.17px;
    transform: rotate(-2.89deg);
}

.screen .text-wrapper-69 {
    color: #373737;
}

.screen .text-wrapper-70 {
    color: #373737;
}

.screen .text-wrapper-71 {
    color: #373737;
}

.screen .text-wrapper-72 {
    color: #373737;
}

.screen .text-wrapper-73 {
    color: #373737;
}

.screen .text-wrapper-74 {
    color: #373737;
}
