.screen .ellipse-2 {
    border-radius: 341px / 314px;
}

.screen .ellipse-3 {
    border-radius: 84.5px / 28.5px;
    border: 5px solid;
    border-color: #4c575e;
    transform: rotate(-7.11deg);
}

.screen .text-wrapper {
    color: #373737;
}

.screen .text-wrapper-2 {
    color: #ffc6d6;
}

.screen .text-wrapper-3 {
    color: #ffc6d6;
}

.screen .text-wrapper-4 {
    color: #ffc6d6;
}

.screen .text-wrapper-5 {
    color: #ffc6d6;
}

.screen .text-wrapper-6 {
    color: #ffffff;
}

.screen .text-wrapper-7 {
    color: #ffffff;
}

.screen .text-wrapper-8 {
    color: #ffffff;
}

.screen .text-wrapper-9 {
    color: #ffffff;
}

.screen .group-2 {
    transform: rotate(122.84deg);
}

.screen .vector {
    transform: rotate(-122.84deg);
}

.screen .vector-2 {
    transform: rotate(-122.84deg);
}

.screen .group-3 {
    transform: rotate(-12.18deg);
}

.screen .vector-3 {
    transform: rotate(12.18deg);
}

.screen .vector-4 {
    transform: rotate(12.18deg);
}

.screen .group-4 {
    transform: rotate(-111.72deg);
}

.screen .vector-5 {
    transform: rotate(111.72deg);
}

.screen .vector-6 {
    transform: rotate(111.72deg);
}

.screen .group-5 {
    transform: rotate(134.15deg);
}

.screen .vector-7 {
    transform: rotate(-134.15deg);
}

.screen .vector-8 {
    transform: rotate(-134.15deg);
}

.screen .ellipse-5 {
    border-radius: 213px;
}

.screen .philosophy-title {
    color: #373737;
}

.screen .philosophy-text {
    color: #373737;
}

.screen .span {
    color: #373737;
}

.screen .text-wrapper-11 {
    color: #ffffff;
}

.screen .text-wrapper-12 {
    color: #ffffff;
}

.screen .text-wrapper-13 {
    color: #ffffff;
}

.screen .text-wrapper-14 {
    color: #ffffff;
}

.screen .text-wrapper-15 {
    color: #ffffff;
}

.screen .text-wrapper-16 {
    color: #ffffff;
}

.screen .text-wrapper-17 {
    color: #ffffff;
}

.screen .text-wrapper-18 {
    color: #ffffff;
}

.screen .text-wrapper-19 {
    color: #ffffff;
}

.screen .text-wrapper-20 {
    color: #ffffff;
}

.screen .text-wrapper-21 {
    color: #ffffff;
}

.screen .a {
    color: #ff874b;
}

.screen .text-wrapper-22 {
    color: #ffffff;
}

.screen .text-wrapper-23 {
    color: #ffffff;
}

.screen .text-wrapper-24 {
    color: #919191;
}

.screen .text-wrapper-25 {
    color: #ffffff;
}

.screen .p {
    color: #ffffff;
}

.screen .ellipse-7 {
    border-radius: 269.77px / 148.94px;
    transform: rotate(-10.75deg);
}

.screen .text-wrapper-26 {
    color: #ffffff;
}

.screen .text-wrapper-27 {
    color: #ff874b;
}

.screen .text-wrapper-28 {
    color: #ffffff;
}

.screen .a-2 {
    color: #ffffff;
}

.screen .text-wrapper-29 {
    color: #4c575e;
}

.screen .element {
    color: #ffffff;
}

.screen .text-wrapper-30 {
    color: #4c575e;
}

.screen .text-wrapper-31 {
    color: #4c575e;
}

.screen .text-wrapper-32 {
    color: #ffffff;
}

.screen .alegreya-2 {
    transform: rotate(-7.03deg);
}

.screen .a-3 {
    transform: rotate(16.09deg);
    color: #ffffff;
}

.screen .l {
    transform: rotate(4.37deg);
}

.screen .l-2 {
    transform: rotate(-5.21deg);
    color: #ff874b;
}

.screen .ellipse-8 {
    border-radius: 11.02px / 18.56px;
    border: 5px solid;
    border-color: #ffffff;
    transform: rotate(4.14deg);
}

.screen .ellipse-9 {
    border-radius: 5.88px / 6.44px;
    transform: rotate(4.14deg);
}

.screen .e {
    transform: rotate(-29.94deg);
    color: #ffffff;
}

.screen .g-2 {
    transform: rotate(-12.12deg);
    color: #4b575d;
}

.screen .ellipse-10 {
    border-radius: 13px / 22px;
    border: 5px solid;
    border-color: #ffffff;
    transform: rotate(21.12deg);
}

.screen .ellipse-11 {
    border-radius: 5.88px / 6.44px;
    transform: rotate(4.14deg);
}

.screen .r-2 {
    transform: rotate(1.96deg);
    color: #ffc6d6;
}

.screen .ellipse-12 {
    border-radius: 13px / 22px;
    border: 5px solid;
    border-color: #ffffff;
    transform: rotate(181.07deg);
}

.screen .ellipse-13 {
    border-radius: 5.88px / 6.44px;
    transform: rotate(4.14deg);
}

.screen .e-2 {
    transform: rotate(-164.93deg);
    color: #ffffff;
}

.screen .y {
    transform: rotate(-12.09deg);
    color: #ffffff;
}

.screen .a-4 {
    transform: rotate(-0.48deg);
    color: #ff874b;
}

.screen .text-wrapper-33 {
    color: #4b575d;
}

.screen .text-wrapper-34 {
    color: #ffffff;
}

.screen .text-wrapper-35 {
    color: #ffffff;
}

.screen .text-wrapper-36 {
    color: #4b575d;
}

.screen .text-wrapper-37 {
    transform: rotate(32.87deg);
    color: #4b575d;
}

.screen .hej {
    color: #4b575d;
}

.screen .ci-o {
    color: #4b575d;
}

.screen .text-wrapper-38 {
    color: #f7f0f5;
}

.screen .text-wrapper-39 {
    color: #f7f0f5;
}

.screen .text-wrapper-40 {
    transform: rotate(-28.68deg);
    color: #4b575d;
}

.screen .text-wrapper-41 {
    color: #919191;
}

.screen .text-wrapper-42 {
    transform: rotate(11.38deg);
    color: #f7f0f5;
}

.screen .text-wrapper-43 {
    transform: rotate(10.91deg);
    color: #ff874b;
}

.screen .text-wrapper-44 {
    transform: rotate(28.35deg);
    color: #f7f0f5;
}

.screen .text-wrapper-45 {
    transform: rotate(-5.63deg);
    color: #ff874b;
}

.screen .text-wrapper-46 {
    transform: rotate(14.50deg);
    color: #919191;
}

.screen .text-wrapper-47 {
    color: #4b575d;
}

.screen .text-wrapper-48 {
    transform: rotate(-20.60deg);
    color: #4b575d;
}

.screen .text-wrapper-49 {
    color: #ff874b;
}

.screen .text-wrapper-50 {
    transform: rotate(-13.68deg);
    color: #ffffff;
}

.screen .text-wrapper-51 {
    transform: rotate(-42.02deg);
    color: #919191;
}

.screen .text-wrapper-52 {
    color: #4c575e;
}

.screen .element-3 {
    color: #4c575e;
}

.screen .text-wrapper-53 {
    color: #373737;
}

.screen .text-wrapper-54 {
    color: #4c575e;
}

.screen .text-wrapper-55 {
    color: #ff874b;
}

.screen .text-wrapper-56 {
    color: #ff874b;
}

.screen .text-wrapper-57 {
    color: #373737;
}

.screen .ellipse-14 {
    border-radius: 176.5px;
}

.screen .ellipse-15 {
    border-radius: 84.5px;
}

.screen .text-wrapper-58 {
    color: #ffffff;
}

.screen .ellipse-16 {
    border-radius: 145px;
}

.screen .ellipse-17 {
    border-radius: 21.58px / 36.51px;
    border: 5px solid;
    border-color: #4c575e;
    transform: rotate(174.04deg);
}

.screen .ellipse-18 {
    border-radius: 13.2px / 23.31px;
    border: 5px solid;
    border-color: #ffffff;
    transform: rotate(174.04deg);
}

.screen .ellipse-19 {
    border-radius: 14.77px / 16.17px;
    transform: rotate(-2.89deg);
}

.screen .ellipse-20 {
    border-radius: 13.45px / 14.72px;
    transform: rotate(-2.89deg);
}

.screen .ellipse-21 {
    border-radius: 8.44px / 9.24px;
    transform: rotate(-2.89deg);
}

.screen .ellipse-22 {
    border-radius: 8.44px / 9.24px;
    transform: rotate(-2.89deg);
}

.screen .ellipse-23 {
    border-radius: 14.77px / 16.17px;
    transform: rotate(-2.89deg);
}

.screen .ellipse-24 {
    border-radius: 14.77px / 16.17px;
    transform: rotate(-24.33deg);
}

.screen .ellipse-25 {
    border-radius: 6.84px / 7.94px;
    transform: rotate(-24.33deg);
}

.screen .ellipse-26 {
    border-radius: 7.29px / 8.14px;
    transform: rotate(-24.33deg);
}

.screen .ellipse-27 {
    border-radius: 39.31px / 14.66px;
    border: 5px solid;
    border-color: #ffffff;
    transform: rotate(-73.93deg);
}